RewriteEngine On

# Précondition : S'il n'y a pas de fichier atteignable, on continu la réécriture
RewriteCond %{REQUEST_FILENAME} !-f

# Ecriture régulière - L'entièreté de l'url
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]